* {
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f3fca5;
	position: relative;
	min-height: 100vh;
}


header {
	background-color: #3D550C;
	padding: 10px;
	text-align: center;
	color: #ECF87F;
}

.imgContato {
	width: 50px;
	margin-left: 1rem;
}

main {
	padding: 2% 5%;
	
	display: flex;
	gap: 3rem;
	justify-content: space-around;
}

.camposContainer {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.card {
	border: 1px solid gray;
	background-color: white;
	border-radius: 15px;
	padding: 15px;
	margin-top: 15px;
}

.lineInput {
	display: grid;
	margin-bottom: 10px;
}

input {
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

button {
	cursor: pointer;
	border: none;
	padding: 10px;
	outline: 0;
	background-color: #3D550C;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 1.5px;
	color: #ECF87F;
}

button:hover {
	background-color: green;
	transition: all ease 0.3s;
}

button:focus {
	background-color: green;
	border: 1px solid black;
}

.content {
	margin-top: 1rem;
}

table {
	border-collapse: collapse;
	border: 1px solid gray;
	width: 100%;
	margin-bottom: 3rem;
	background-color: white;
}

table th {
	background-color: #3D550C;
	color: #ECF87F;
}

table td {
	text-align: center;
}

table td:last-child img {
	margin: 0 8px;
}

table td img {
	cursor: pointer;
	width: 25px;
}

table td img:hover {
	transform: scale(1.15);
	transition: all ease 0.3s;
}

.chartContainer {
	width: 35vw;
}

footer {
	background-color: #3D550C;
	text-align: center;
	color:#ECF87F;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

@media screen and (max-width:768px) {
	header {
		margin-bottom: 3rem;
		width: 100%;
	}

	main {
		
		display: flex;
		flex-direction: column;
	}

	.camposContainer {
		position: relative;
		width: 100%;
	}

	.chartContainer {
		margin: 0 auto;
		width: 80vw;
		margin-bottom: 5rem;
	}

}
